
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}



/* nav style */


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.rh{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav ul a {
    text-decoration: none;
    font-size: 20px;
    

}
.btn-1{
    background-color: #FD6E0A;
    font: 800px;
    color: white;
    padding: 18px 35px 19px 36px;
    border-radius: 5px;
    font-size: 30px;
    border: none;

}

/* header */
.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}

/* banner */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}
.banner-content{ 
    max-width: 585px;
}

.banner-greetings {
    font: 500;
    font-size: 45px;
    color: #474747;
}
.banner-headding {
    font: bold;
    font-size: 86px;
}
.banner-description { 
    font: 400;
    font-size: 18px;
    color: #757575;
}
 
.banner-profile-pic {
    height: 676px;
    width: 584px;

}